{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accounts</h1>
    <a href="{{ url("finance_account_add") }}">Account hinzufügen</a>
    {% for account in accounts %}
        <h2><a href="{{ url('finance_movements_add', {'financeAccountId': account.financeAccountId}) }}">{{ account.name }}</a></h2>
        <p>({{ account.countMovements }}) {{ account.amount|movement|raw }}</p>
    {% endfor %}
{% endblock %}