{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accounts</h1>
    <a href="{{ url("addAccount") }}">Account hinzufügen</a>
    {% for account in accounts %}
        <h2><a href="{{ url('account', {'id': account.account.financeAccountId}) }}">{{ account.account.name }}</a></h2>
        <p>({{ account.movements }}) {{ account.amount }}</p>
    {% endfor %}
{% endblock %}