{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ account.name }}</h1>
    <p><a href="{{ url('finance_account_edit', {'financeAccountId': account.financeAccountId}) }}">Konto bearbeiten</a></p>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Status</h3>
        </div>
        <div class="panel-body">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Aktuell</th>
                        <th>Ums채tze gesamt</th>
                        <th>Endstand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ account.amount(true)|movement|raw }}</td>
                        <td>{{ account.movementsAmountSum|movement|raw }}</td>
                        <td>{{ account.amount|movement|raw }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Umsatz hinzuf체gen</h3>
        </div>
        <div class="panel-body">
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    {% if fixed|length %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Fixe Ums채tze</h3>
            </div>
            <div class="panel-body">
                {% for movement in fixed %}
                    <h3>{{ movement.description }}</h3>
                    <p>{{ movement.amount|movement|raw }}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if movements|length %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Ums채tze</h3>
            </div>
            <div class="panel-body">
                {% for movement in movements %}
                    <h3>{{ movement.description }}</h3>
                    <p>{{ movement.amount|movement|raw }}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <h3>Ausgangswert</h3>
    <p>{{ account.amount(true)|movement|raw }}</p>
{% endblock %}