{% extends 'base.html.twig' %}

{% block body %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <h1>{{ account.name }}</h1>
    <p><a href="{{ url('finance_account_edit', {'financeAccountId': account.financeAccountId}) }}">Konto bearbeiten</a></p>
    <p>{{ account.amount|movement|raw }}</p>
    <h2>Umsatz hinzufügen</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if fixed|length %}
        <h2>Fixe Umsätze</h2>
        {% for movement in fixed %}
            <h3>{{ movement.description }}</h3>
            <p>{{ movement.amount|movement|raw }}</p>
        {% endfor %}
    {% endif %}

    {% if movements|length %}
        <h2>Umsätze</h2>
        {% for movement in movements %}
            <h3>{{ movement.description }}</h3>
            <p>{{ movement.amount|movement|raw }}</p>
        {% endfor %}
        <h2>Ausgangswert</h2>
        <p>{{ account.amount(true)|movement|raw }}</p>
    {% endif %}
{% endblock %}